<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>DevBurguer</title>
</head>
<body>
    <h1>Sugestão para o Cardápio</h1>
    <form id="ingredients_form" method="get" action="/sugestao">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" min="4">
        <label for="ingredientes">Ingredientes</label>
        <textarea name="ingredientes" id="ingredientes" form="ingredients_form" placeholder="Ex.: Pão, queijo, etc"></textarea>
        <button type="submit">Enviar</button>
    </form>
    <a href="/contato">Contato</a>
    <a href="/api/lanches">Lanches</a>
</body>
</html>