body {
      background-color: #0d0d0d;
      color: #f2f2f2;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      margin: 0;
    }

    form {
      background-color: #1a1a1a;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      width: 320px;
    }

    label, p {
      margin-bottom: 5px;
      font-weight: bold;
      color: #ff4d4d;
    }

    a {
        text-decoration: none;
        padding-top: 30px;
        color: white;
    }

    input, textarea {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ff4d4d;
      border-radius: 6px;
      background-color: #262626;
      color: #f2f2f2;
      outline: none;
      font-size: 14px;
      transition: 0.3s;
    }

    input:focus, textarea:focus {
      border-color: #ff1a1a;
      box-shadow: 0 0 5px rgba(255, 26, 26, 0.5);
    }

    button {
      padding: 10px;
      background-color: #ff1a1a;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;
    }

    button:hover {
      background-color: #e60000;
    }